<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>COVID-19 Screening</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/launch.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img style="padding-bottom:40px;" src="img/u-health.png" alt="">
                <h1 style="padding-bottom:25px;" class="font-weight-normal text-muted">Coronavirus (COVID-19) Screening Tool</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/screen" class="mb-4 btn btn-lg btn-outline-secondary btn-block" role="button" aria-disabled="true">Screen New Patient</a>
                <button class="mb-4 btn btn-lg btn-outline-secondary btn-block" href="/policies">Policies and Procedures</button>
                <button class="mb-4 btn btn-lg btn-outline-secondary btn-block" href="/faq">Frequently Asked Questions</button>
                <button class="mb-4 btn btn-lg btn-outline-secondary btn-block" href="/resources">Resources</button>
                <p class="mt-5 mb-3 text-muted">&copy; Department of Biomedical Informatics <br>2020</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>
